* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    scroll-behavior: smooth;
}

h1, h3, p {
    color: white;
    font-family: "Alatsi",  sans-serif;
}

.container {
    background: linear-gradient(rgba(69, 177, 219, 0.8),  rgba(29, 17, 138, 0.6)), url("../imgs/b.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* ----------------------------------------------------
                    MOBILE VERSION
---------------------------------------------------- */
section {
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-of-type(2) {
    background-color: rgba(128, 128, 128, 0.2);
}

.home-section {
    /* background: linear-gradient(rgba(110, 84, 84, 0.8),  rgba(0, 0, 0, 0.6)), url("../imgs/b.jpg"); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.466);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.5em 0 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.menu {
    width: 2.25em;
    height: 2em;
    background-image: url("../imgs/navbar.png");
    background-position: center;
    background-size: cover;
}
.nav-items {
    display: none;
}

.main {
    height: 100vh;
    padding: 10vh 2em 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-content h3 {
    font-family: "Alatsi", sans-serif;
    font-size: 1em;
}

.home-content h1 {
    color: white;
    font-family: "Alatsi",  sans-serif;
    font-size: 1.5em;
}

.home-content p {
    font-family: "Alatsi",  sans-serif;
    font-size: 0.75em;
}

.home-image {
    display: none;
}

.home-button {
    width: 8em;
    height: 2.5em;
    border-radius: 10px;
    border: 3px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Alatsi",  sans-serif;
    transition: 0.5s;
    z-index: 1;
}

.home-button:hover {
    transform: scale(1.15);
    background-color: rgba(69, 177, 219, 0.8);
}

.authors {
    display: none;
}

#mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#desk {
    display: none;
}

.bubble {
    border-radius: 50%;
    background-color: rgba(255, 192, 203, 0.342);
    position: absolute;
}

.big {
    width: 7em;
    height: 7em;
    top: 4em;
    right: 0em;
}

.small {
    width: 4em;
    height: 4em;
    top: 14em;
    right: 4em;
}
/* ----------------------------------------------------
                    END OF MOBILE VERSION
---------------------------------------------------- */


/* ----------------------------------------------------
                    DESKTOP VERSION
---------------------------------------------------- */
@media only screen and (min-device-width: 64em) {
    
    /*-----------------------Navbar------------------*/
    .menu {
        display: none;
    }

    .navbar {
        background: linear-gradient(45deg, #7c5e6b00 45%, grey);
        
    }

    .nav-items {
        display: flex;
        width: 50%;
        height: 80%;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
    }

    .nav-items div {
        font-family: "Alatsi", sans-serif;
        transition: 0.5s;
        color: white;
    }

    .nav-items div:hover {
        transform: scale(1.15);
        color: black;
    }
    /*----------------------End of Navbar------------*/

    /*-----------------------Main------------------*/
    .main {
        border-radius: 0px;
        position: relative;
    }

    .bubble {
        display: none;
    }

    .home-content h3, .home-content p, .home-button{
        color: white;
    }

    .home-content {
        height: 70%;
        width: 40%;
        margin-top: -5em;
        margin-left: -35em;
    }

    .home-content h3 {
        font-size: 1.25em;
    }

    .home-content h1 {
        font-size: 3em;
        color: white;
    }

    .home-content p {
        font-size: 1em;
    }

    .home-button {
        transition: 0.5s;
        cursor: pointer;
        z-index: 10;
        width: 12em;
        height: 3em;
        border: 3px solid white;
        /* background-color: rgba(255, 255, 255, 0.11); */
    }

    .home-button:hover {
        transform: scale(1.15);
        /* background-color: #7c5e6b; */
        /* color: white; */
    }

    .home-image {
        display: initial;
        width: 35em;
        height: 25em;
        background: url("../imgs/student.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 10em;
        top: 25%;
        z-index: 1;
    }

    .authors {
        display: initial;
    }

    #mobile {
        display: none;
    }

    #desk {
        display: initial;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    /*------------------ End of Main------------------*/

    /*------------------ Project Details -------------*/

    .project-details {
        padding: 5vh 2em 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-details h1 {
        font-size: 3em;
    }

    .content-outer {
        width: 80%;
        height: 70%;
        border: 4px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em auto;
        border-radius: 20px;
    }

    .content {
        height: 80%;
        width: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-details .content h3{
        font-size: 2em;
        margin-bottom: 1em;
    }

    .content p {
        line-height: 2em;
        padding: 1em;
    }

    .project-details .content-outer div:first-of-type {
        border-right: 2px solid white;
    }

    /*-------------End of Project Details -------------*/


    /*----------------------- SIIs -------------------*/
    .SIIs {
        padding: 10vh 2em 0 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SIIs h1{
        font-size: 3em;
    }
    
}































/* Scrollbar Modification */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(69, 177, 219, 0.8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(29, 17, 138, 0.6);
  }
